body {
	background: #8C908E;
	background-font: #ffffff;
}
header {
	width: 100%;
	background: #646464;
	overflow: hidden;
}
.wrapper {
	witdth: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
}